<main class="main-container">
    {{> sidebar }}

    <div class="content-area">
        {{> hero }}
        {{> features }}
        {{> benefits }}
        {{> customers }}
        {{> getStarted }}
        {{> helpBanner }}
        {{!-- {{> testimonials }} --}}
        {{> faqBanner }}
        {{!-- {{> community}} --}}
    </div>
</main>