
<section>
    <div class="common-header"> <h2 style="text-align: center;">Empowering developers to build applications</h2> </div>
    <div class="ad-container hero-section">
        <div class="ad-card">
            <div class="ad-card-image">
                <img src="/images/advantage1.svg" alt="Mobile phone with programming languages">
            </div>
            <h2>Explore & Subscribe to our APIs</h2>
            <ul>
                <li>Sign up with us</li>
                <li>Choose an API and Try-it-out</li>
                <li>Create an application</li>
                <li>Subscribe the application to the API to get going</li>
            </ul>
        </div>

        <div class="ad-card">
            <div class="ad-card-image">
                <img src="/images/advantage2.svg" alt="Laptop with development interface">
            </div>
            <h2>Developing Applications</h2>
            <ul>
                <li>Generate application keys</li>
                <li>Utilise SDKs to generate application code</li>
                <li>Connect to the Sandbox endpoint of APIs for testing</li>
            </ul>
        </div>

        <div class="ad-card">
            <div class="ad-card-image">
                <img src="/images/advantage3.svg" alt="Rocket launching from laptop">
            </div>
            <h2>Ready to Launch</h2>
            <ul>
                <li>Switch to the production endpoint of APIs</li>
                <li>Perform tests</li>
                <li>Launch!</li>
            </ul>
        </div>
    </div>
</section>