<section>
    <div class="sidebar">
        <nav class="nav">
            <a href="/" class="nav-link">
                <img src="/images/home-icon.svg"/>
            </a>
            <a href="/apis" class="nav-link">
                <img src="/images/apis-icon.svg"/>
            </a>
            <a href="/docs" class="nav-link">
                <img src="/images/docs-icon.svg"/>
            </a>
            <a href="/modules" class="nav-link">
                <img src="/images/applications-icon.svg"/>
            </a>
        </nav>
        <button class="toggle-btn" aria-label="Toggle sidebar">
            <img src="/images/arrow-left.svg"/>
        </button>
    </div>
</section>